@model ESOnline2.WebUI.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="panel-body">
        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-lg", @placeholder = "Password actual" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg", @placeholder = "Nuevo Password" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Confirmar Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <button class="btn btn-lg btn-primary">Confirmar</button>
        </fieldset>
    </div>    
}
