@model ESOnline2.WebUI.Models.LoginModel
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-sm-4"></div>
        <div class="col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="list-group-item-heading">
                        Log In
                    </h2>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend>Log in Form</legend>
                        <ol>
                            <li>
                                @Html.TextBoxFor(m => m.UserName, new {@class="form-control input-lg", @placeholder="Usuario"})
                                @Html.ValidationMessageFor(m => m.UserName)
                            </li>
                            <li>
                                @Html.PasswordFor(m => m.Password, new {@class="form-control input-lg", @placeholder="Password"})
                                @Html.ValidationMessageFor(m => m.Password)
                            </li>
                            <li>
                                @Html.CheckBoxFor(m => m.RememberMe) Recordarme
                            </li>
                        </ol>
                        <button class="btn btn-lg btn-primary">Log In</button>
                    </fieldset>
                </div>
            </div>
            <p>
                @Html.ActionLink("Registrarse", "Register") si no tiene una cuenta
            </p>
        </div>
    <div class="col-sm-3"></div>
}