@model ESOnline2.WebUI.Models.RegisterModel

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="col-sm-4"></div>
    <div class="col-sm-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="list-group-item-heading">
                    Registrar usuario
                </h2>
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend>Registrar usuario</legend>
                    <ol>
                        <li>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", @placeholder = "Usuario" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </li>
                        <li>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </li>
                        <li>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Confirmar Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </li>
                    </ol>
                    <button class="btn btn-lg btn-primary">Registrarse</button>
                </fieldset>
            </div>
        </div>
    </div>    
}
