<!DOCTYPE html>
<html lang="en" ng-app="mdlESOnlineApp">
    <head>
        <base href="~/" />
        <meta charset="utf-8" />
        <title>ESOnline</title>
        <link href="~/Images/ESLogo.jpg" rel="shortcut icon" type="image/x-icon" />     
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")                   
    </head>
    <div>
        <div class="ESOpage-header">
            <a href="~/Vencimiento/List">
                <img class="logo" src="~/Images/ESLogo.jpg" />                
            </a>            
        </div>
        <nav class="navbar navbar-default">
            <div class="ESOpage-header">               
                <div id="navbar" class="navbar">                   
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="/Vencimiento/List">Vencimientos</a></li>                                                            
                            <li><a href="/Cliente/List">Clientes</a></li>
                            <li><a href="/Producto/List">Catálogo de Productos</a></li>                            
                            @if (Roles.IsUserInRole("Administrator"))
                            {
                                   <li><a href="/Account/List">Usuarios</a></li>
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right navbar-btn">                            
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="btn btn-link" href="javascript:document.getElementById('logoutForm').submit()">
                                        <span class="glyphicon glyphicon-log-out" title="Log Off"></span>
                                        Salir
                                    </a>
                                }
                            </li>
                        </ul>                           
                        <ul class="nav navbar-nav navbar-right">                                                        
                            <li>                                                                
                                @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
                            </li>                            
                        </ul>
                        <ul class="nav navbar-nav navbar-right nav-divider">
                            <li></li>                            
                        </ul>
                    }
                    else
                    {
                    @*<ul class="nav navbar-nav navbar-right">
                        <li><a href="/Account/Login">Log in</a></li>
                        <li><a href="/Account/Register">Registrarse</a></li>
                    </ul>*@
                    }
                </div>
            </div>
        </nav>
    </div>
    <body ng-controller="ctlMenu" >
        <div id="wait" class="modal"></div>                                                               
        <div id="body" >                      
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">              
                    @RenderBody()                
            </section>
        </div>            
        <footer>
            <div class="content-wrapper">
                <div>
                    <p>&copy; @DateTime.Now.Year - ESOnline</p>
                </div>
            </div>           
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/libs")
        @Scripts.Render("~/bundles/custom")          
    </body>
</html>
