<!DOCTYPE html>
<html lang="en" ng-app="mdlESOnlineApp">
    <head>
        <base href="~/" />
        <meta charset="utf-8" />
        <title>ESOnline</title>
        <link href="~/Images/ESLogo.jpg" rel="shortcut icon" type="image/x-icon" />     
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")                   
    </head>
    <div>
        <div class="ESOpage-header">
            <a href="/">
                <img class="img-responsive" src="~/Images/ESLogo.jpg" />                
            </a>            
        </div>
        <nav class="navbar navbar-default">
            <div class="ESOpage-header">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/Cliente/List">Clientes</a></li>
                        <li><a href="#">Productos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <body ng-controller="ctlMenu" >                                                               
        <div id="body">                      
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">              
                    @RenderBody()                
            </section>
        </div>            
        <footer>
            <div class="content-wrapper">
                <div>
                    <p>&copy; @DateTime.Now.Year - ESOnline</p>
                </div>
            </div>           
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/libs")
        @Scripts.Render("~/bundles/custom")          
    </body>
</html>
